<div class="example-card">
    <div class="form-container">
      <form class="example-form">
        <mat-card-header>
          <div mat-card-avatar class="img"></div>
          <mat-card-title style="font-weight: 600; font-size: xx-large;">
            ¡Bienvenido de nuevo!
            <img src="assets/form.png" alt="form image">
          </mat-card-title>
          <p>Por favor ingresa tus credenciales para iniciar sesión</p>
        </mat-card-header>
  
        <div class="form">
          <mat-form-field class="form-cred">
            <mat-label>Correo electrónico</mat-label>
            <input
              class="input-form"
              matInput
              type="email"
              placeholder="Ingresa tu correo"
              [(ngModel)]="email"
              name="email"
              required
            />
          </mat-form-field>
  
          <mat-form-field class="form-cred">
            <mat-label>Contraseña</mat-label>
            <input
              class="input-form"
              matInput
              type="password"
              placeholder="Ingresa tu contraseña"
              [(ngModel)]="passwordValue"  
              name="contraseña"
              required
            />
          </mat-form-field>
  
          <button mat-flat-button color="primary" (click)="onLogin()" class="form-cred">Iniciar Sesión</button>
          <p style="text-align: center; margin-bottom: 10px;">
            ¿Olvidaste la contraseña?
            <a [routerLink]="['/password-reset']" style="font-weight: 500;">Cambiar contraseña</a>
        </p>
          <p>¿No tienes una cuenta? 
            <button mat-flat-button color="primary" (click)="navReg()" style="font-weight: 500;">Crear una cuenta</button>
          </p>
        </div>
      </form>
  
      <div class="right-img">
        <img src="assets/img.png" style="border-radius: 30px;" title="musulman's.kbom">
      </div>
    </div>
  </div>
  
