.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.header {
    background-color: rgb(206, 206, 211);
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.items{
    background-color: white;

}
h1{
    color: black;
    padding-left: 5%;
    text-align:justify;
}
.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 5%;
   
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
}

.welcome-image {
    width: 300px; 
    height: auto;
    padding-right: 5%;
   
}


.finalizar-compra {
    background-color: rgb(0, 0, 255);
    color: white;
    
}

.product-image {
    
    height: auto;
    display: block;
    margin: 0 auto; 
}

.footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
