<div class="example-card">
    <div class="form-container">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-card-header>
          <div mat-card-avatar class="img"></div>
          <mat-card-title style="font-weight: 600; font-size: xx-large;">
            Recupera tu Contraseña
            <img src="assets/form.png" alt="form image">
          </mat-card-title>
          <p>Por favor ingresa tu correo electrónico para solicitar un código de cambio de contraseña</p>
        </mat-card-header>
  
        <div class="form">
          <mat-form-field class="form-cred">
            <mat-label>Correo electrónico</mat-label>
            <input
              class="input-form"
              matInput
              type="email"
              placeholder="Ingresa tu correo"
              formControlName="email"
              required
            />
            <mat-error *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
              Por favor, ingresa un correo electrónico válido.
            </mat-error>
          </mat-form-field>
  
          <button mat-flat-button color="primary" class="form-cred" [disabled]="resetForm.invalid">
            Solicitar Código
          </button>
  
          <div *ngIf="mensaje" class="mt-3">
            <p>{{ mensaje }}</p>
          </div>
        </div>
      </form>
  
      <div class="right-img">
        <img src="assets/img.png" style="border-radius: 30px;" alt="Imagen ilustrativa">
      </div>
    </div>
  </div>
